<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yumeng's blog</title>
    <style>
    .s1{
        opacity: 0;
    }
    .s2{
        opacity: 0;
    }
    </style>
</head>
<body>
    <div class="intro s1">
        <h1>Hello, I'm Yumeng</h1>
        <h2>I'm a Student from China. My hobby is to learn new things.</h2>
    </div>

    <div class="location s2">
        <p>Currently living in <a href="https://s21.ax1x.com/2025/04/26/pETA0gK.webp">Zhuhai</a> — possibly the most
            comfortable city in the world.</p>
        <p> I write some articles about my learning and life.</p>
        <p>I hope you like my articles.</p>
    </div>

    <!-- <div class="recent-posts">
        <h2>My latest posts</h2>
        <ul class="posts-list">
            <li><a href="#/posts/coffee">Yes, I will have coffee with you</a></li>
            <li><a href="#/posts/scrape">Great scratching</a></li>
            <li><a href="#/posts/silence">Silent voice</a></li>
            <li><a href="#/posts/manifesto">Bear Manifesto</a></li>
            <li><a href="#/posts/rest">Positive rest</a></li>
        </ul>
    </div>

    <div class="popular-posts">
        <h2>My popular posts</h2>
        <ul class="posts-list">
            <li><a href="#/posts/garden">My product is my garden</a></li>
            <li><a href="#/posts/software">Build lasting software</a></li>
            <li><a href="#/posts/loop">The挫败循环</a></li>
            <li><a href="#/posts/motivated">How to stay motivated as a human creator</a></li>
            <li><a href="#/posts/analytics">How Bear uses CSS to analyze</a></li>
        </ul> -->
    </div>

    <script type="module">
        import slideUp from '../utils/slideUp.js';

        // 初始化滑动动画
        slideUp.init();
        slideUp.add(document.querySelector('.s1'),{
            delay: 100
        });
        slideUp.add(document.querySelector('.s2'),{
            delay: 200
        });
    </script>
</body>
</html>